[Unit]
Description=Startup for PEPSal
After=remote-fs.target
After=systemd-journald-dev-log.socket

[Service]
Type=forking
ExecStartPre=/etc/pepsal/pepsal-arguments
ExecStartPre=/bin/mkdir -p /var/log/pepsal
ExecStart=/bin/sh -ac ". /etc/pepsal/.pepsal.conf ; sh /etc/pepsal/start.ini"

[Install]
WantedBy=multi-user.target
